<!DOCTYPE html>
<html>
<head>
    <title>PO</title>
    <style type="text/css">

    </style>
</head>
<body>
<div>
    <div style="text-align: right; padding: 5px;">
        <img src="https://s3-us-west-2.amazonaws.com/macdss/resources/template-images/mac-logo.png"><br>
        <span>{{macAddress1}}</span><br>
        <span>{{macAddress2}}</span><br>
        <span>{{macPhoneEmail}}</span><br>
        <span>TIN No.{{TIN}}</span>
        <span>CST No.{{CST}}</span>
        <span>ECC No.{{ECC}}</span>
    </div>
</div>
<div style="width: 85%; margin: 0 auto; border: 1px solid #aaa; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;">
    <h3 style="text-align: center; padding: 5px; margin: 0; border-bottom: 1px solid #ccc">Purchase Order</h3>
    <table width="100%" style="border-bottom: 1px solid #ccc">
        <tr>
            <td width="33.333%" style="border-right: 1px solid #ddd; padding: 5px">
                <p>To,</p>
                <strong>{{vendorName}}</strong><br>
                <span>{{toAddress}}</span><br>
                <span>{{toAddress2}}</span><br>
                <span>Phone: {{toPhone}} / Email: {{toEmail}}</span>
            </td>
            <td width="33.333%" style="border-right: 1px solid #ddd; padding: 5px">
                Purchase order no.:
                <strong>{{poNumber}}</strong><br><br>
                Purchase order date.:
                <strong>{{date}}</strong>
            </td>
            <td width="33.333%" style="padding: 5px">
                Contact Person:
                <strong>{{macContactPerson}}</strong><br>
                Your reference:
                <strong>{{QN}}</strong>
            </td>
        </tr>
    </table>
    <span style="padding-left: 5px">Kind attention: <strong>{{vendorContactPerson}}</strong></span><br>
    <span style="padding-left: 5px">We are please to place here with purchase order for the following items:</span>
    <table width="100%" style="border-top: 1px solid #ccc">
        <tr>
            <th width="5%" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd">Sl. no.</th>
            <th width="30%" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd">Item description</th>
            <th width="15%" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd">Unit price</th>
            <th width="15%" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd">Quantity</th>
            <th width="15%" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd">Total Price</th>
            <th width="20%" style="border-bottom: 1px solid #ddd">Delivery date</th>
        </tr>
        {% for Num in items %}
        <tr>
            <td style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd" {% if loop.first %} class="first" {%
                endif %}>{{loop.index}}
            </td>
            <td style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd">{{Num.catNumber}}<br>{{Num.detailData.description}}
            </td>
            <td style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd">{{Num.pricingData.effectivePrice /
                Num.quantity}}
            </td>
            <td style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd">{{Num.quantity}}</td>
            <td style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd">{{Num.pricingData.effectivePrice}}
            </td>
            <td style="border-bottom: 1px solid #ddd">{{Num.requestedDate|date('d M, Y')}}</td>
        </tr>
    </table>
    <strong style="padding-left: 5px">Total: &#8377; {{macGrandTotal}}</strong><br>
    <strong style="padding-left: 5px">(In words: {{macGrandTotalInWordsEn}})</strong><br>
    <table width="100%" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc">
        <tr>
            <td style="padding: 5px 15px">
                <strong>Customer: </strong><br>
                <span>{{customerIDOrBPID}}</span>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px 15px">
                <strong>Commercial terms</strong><br>
                {% for Num in paymentTerms %}
                <ol>
                    <li {% if loop.first %} class="first" {% endif %}>{{Num.name}}</li>
                </ol>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td style="padding: 5px 15px">
                <strong>Other terms &amp; conditions</strong><br>
                <span>{{termsAndConditions2}}</span>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px 15px">
                <strong>Comments</strong><br>
                <span>{{termsAndConditions1}}</span>
            </td>
        </tr>
    </table>
    <br><br><br>
    <span style="padding-left: 15px">For MAC India</span>
</div>
</body>
</html>